.layout-wrapper {
  display: flex;
  height: 100vh;
  background: #f5f6fa;
}

/* SIDEBAR */
.sidebar {
  width: 230px;
  background: #212529;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.logo {
  font-size: 22px;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 15px;
}

.menu a {
  color: #cfd3da;
  text-decoration: none;
  font-size: 15px;
  padding: 8px 12px;
  display: block;
  border-radius: 5px;
  transition: 0.2s;
}

.menu a:hover,
.menu a.active {
  background: #0d6efd;
  color: white;
}

.logout-btn {
  margin-top: auto;
  padding: 10px;
  background: #dc3545;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
}

/* CONTENT AREA */
.content-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.topbar {
  background: white;
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  font-weight: 500;
}

.inner-content {
  padding: 20px;
  overflow-y: auto;
  min-height: calc(100vh - 60px);
}


/* MOBILE */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
